@import "_nullstyle";
@import "_fonts";
@import "_header";

$blackColor: "#000";
$greyColor: "#4f4";
$blueColor: "#2F80ED";
$yellowColor: "#2F80ED";
$whiteColor: "#fff";

body {
  font-family: "Muller";
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
  @media (max-width: 768px) {
    max-width: 730px;
  }
  @media (max-width: 520px) {
    max-width: 100%;
  }
}

.main {
  flex: 1 1 auto;
}

@import "_footer";
